<div class="container">
<div class="row align center">

	<div id="sbmt" class="btn-large waves-effect waves-light teal lighten-1"><%= link_to 'TAKE A PHOTO',posts_path  %>
		<%= form_for @post do |f| %>

			 <p>
				 <%= f.file_field :image %>
			 </p>

			 <%= f.submit %>
		<% end %>
	</div>
	</div>
</div>
</div>


<div class="row align center">
	<div id="sbmt" class="btn-large waves-effect waves-light teal lighten-1"><%= link_to 'Back', root_path %></div>
</div>
<div class="row align center">
  <i class="material-icons prefix">phone</i>
	<div id="sbmt" class="btn-large waves-effect waves-light teal lighten-1"><%= link_to 'Call Customer Support', root_path %></div>
</div>
